:root { 
--gray_900_02:#1e1e1e; 
--deep_orange_50:#ffeee5; 
--gray_700:#646467; 
--deep_orange_A100:#ffad7f; 
--deep_orange_300_01:#ff8c4c; 
--gray_800:#4c4c4c; 
--gray_900:#262626; 
--gray_900_01:#191919; 
--gray_50:#fffbf9; 
--red_50:#fff5ef; 
--red_100:#ffdecc; 
--black_900:#000000; 
--deep_orange_300:#ff9d66; 
--deep_orange_200:#ffbe99; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
--gray_700_01:#585859; 
}